<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title>ImagingEdge Radiological Trend Detector</title>
  </head>
    <body>
        <div class="row">
            <div class="column">
                <h1>ImagingEdge Radiological Trend Detector</h1>
                <form role="form" method='POST' action='/'>
                <div class="form-group">
                  <input type="text" name="searchterm" placeholder="Enter a search term" style="max-width: 300px;" autofocus required>
                </div>
                <button type="submit">Submit</button>
                </form>
                <br>
                {% for error in errors %}
                <h4>{{ error }}</h4>
                {% endfor %}
                {% if hot_searchterms %}
                    <h2>Hottest Search Terms:</h2>
                    <br>
                    <div id="results">
                        <ol>
                        {% for hot_searchterm in hot_searchterms %}
                        <li><a href="/searchterm/{{ hot_searchterm }}">{{ hot_searchterm }}</a></li>
                        {% endfor %}
                      </table>
                    </div>
                {% endif %}
            </div>
            <div class="column">
                {% if trends %}
                <h2>Trending Terms for Search Term "{{ searchterm }}" :</h2>
                    <br>
                    <div id="results">
                        <ol>
                        {% for trend in trends %}
                        <li><a href="/trendingterm/{{ trend }}__{{ searchterm }}">{{ trend }}</a><div style="text-align: right; padding-right: 20px; line-height: 20px; width: {{ trends_pct[loop.index-1] }}px; background-color: #4CAF50;">&nbsp;</div><br></li>
                        {% endfor %}
                      </table>
                    </div>
                {% endif %}
                {% if plot_url %}
                    <img style="max-width:500px;" src="{{ url_for('static', filename = plot_url) }}">
                {% endif %}
            </div>
        </div>
    </body>
</html>
