<!DOCTYPE html>
<html>
  <head>
      <title>ImagingEdge Radiological Trend Detector</title>
  </head>
    <body>
        <div class="container">
          <h1>ImagingEdge Radiological Trend Detector</h1>
          <form role="form" method='POST' action='/'>
            <div class="form-group">
              <input type="text" name="word" placeholder="Enter word" style="max-width: 300px;" autofocus required>
            </div>
            <button type="submit">Submit</button>
          </form>
          <br>
          {% for error in errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
        </div>
        <div>
            {% if keywords %}
                <h2>Hottest Search Terms:</h2>
                <br>
                <div id="results">
                    <ol>
                    {% for keyword in keywords %}
                        <li>{{ keyword }}</li>
                    {% endfor %}
                  </table>
                </div>
            {% endif %}
        </div>
        <div>
            {% if trends %}
            <h2>Trending Terms for {{ word }}:</h2>
                <br>
                <div id="results">
                    <ol>
                    {% for trend in trends %}
                        <li>{{ trend }}</li>
                    {% endfor %}
                  </table>
                </div>
            {% endif %}
        </div>
    </body>
</html>
